In [9]:
import pandas as pd

In [10]:
df_main=pd.read_excel("boosted_auto_labeled.xlsx")[["name","Is_Leasable"]]
df_main.shape

(84, 2)

In [11]:
df_cat=pd.read_excel("boosted.xlsx")[["name","Category","Is_Leasable"]]
df_cat["name"]=df_cat["name"].apply(lambda x:x.lower())
df_cat["Category"]=df_cat["Category"].apply(lambda x:x.lower())
df_cat.shape

(84, 3)

In [16]:
result = pd.merge(df_main, df_cat, how="left", on=["name"])

In [17]:
result.shape

(88, 4)

In [18]:
result.drop_duplicates(subset="name")

,name,Is_Leasable_x,Category,Is_Leasable_y
0,boosted trucks,0,accessories,False
1,boosted rev motor driver esc,0,NaN,NaN
2,boosted pulley belt upgrade kit,0,NaN,NaN
3,loaded caguama 85s complete orange,0,NaN,NaN
4,bearing service kit,0,accessories,False
...,...,...,...,...
83,magura mt5 disc brake upgrade kit boosted rev,1,NaN,NaN
84,boosted rev stem,1,accessories,False
85,stickers,1,accessories,False
86,boosted skate tool,1,accessories,False
87,boosted belt kit,1,accessories,False

In [19]:
result.isnull().sum()

name              0
Is_Leasable_x     0
Category         31
Is_Leasable_y    31
dtype: int64

In [20]:
result.to_excel("final_boosted.xlsx")