In [1]:
import pandas as pd

In [38]:
df_main=pd.read_excel("nordik_track_auto_labeled.xlsx")[["name","Is_Leasable"]]
df_main.shape

(60, 2)

In [39]:
df_cat=pd.read_excel("Nordik_Track.xlsx")[["name","Category","Is_Leasable"]]
df_cat["name"]=df_cat["name"].apply(lambda x:x.lower())
df_cat["Category"]=df_cat["Category"].apply(lambda x:x.lower())
df_cat.shape

(60, 3)

In [40]:
result = pd.merge(df_main, df_cat, how="left", on=["name"])

In [41]:
result.shape

(108, 4)

In [42]:
result.drop_duplicates(subset="name")

,name,Is_Leasable_x,Category,Is_Leasable_y
0,rw600,1,rowing-machines,True
2,vault complete,0,NaN,NaN
3,fs14i,1,ellipticals,True
5,rw700,1,rowing-machines,True
9,commercial vu 29,1,exercise-bikes,True
11,commercial 2450,1,treadmills,True
13,commercial vu 19,1,exercise-bikes,True
15,commercial vr25,1,exercise-bikes,True
17,exp 7i,1,treadmills,True
19,fs10i,1,ellipticals,True
21,commercial 2950,1,treadmills,True
23,commercial s22i studio cycle,1,exercise-bikes,True
25,vault standalone,0,NaN,NaN
26,commercial x32i,1,treadmills,True
30,exp 10i,1,treadmills,True
34,commercial 99,1,NaN,NaN
35,spacesaver se7i,1,ellipticals,True
46,spacesaver se9i,1,ellipticals,True
48,commercial r35,1,exercise-bikes,True
50,fusion cst,0,strength-training,False
52,speedweight adjustable dumbbells,0,strength-training,False
60,fusion cst pro,0,strength-training,False
62,commercial x22i,1,treadmills,True
64,commercial 149,1,NaN,NaN
69,commercial 1750,1,treadmills,True
71,commercial s15i studio cycle,1,exercise-bikes,True
75,premium dumbbell set dumbbell rack,0,NaN,NaN
85,selectaweight 55 lb dumbbell set,0,NaN,NaN
87,individual hex dumbbells,0,strength-training,False
92,rw900,1,rowing-machines,True

In [37]:
result.to_excel("final_nordik_track.xlsx")